body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
  
}

nav {
	border-bottom: 2px solid orange;
	text-align: center;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

.yellowBtn:hover{
background-color: yellow;
transform: translatey(2px);
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.imageContainer{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#Kevin{
	align-items: center;
}

.aboutMe:hover{
	transform: translatey(2px);
	text-decoration: underline;
}

h3:hover{
	text-decoration: underline;
	transform: translatey(2px);
}

.submit:hover{
	background-color: aqua;
	transform: translatey(2px);
}

.aboutMe{
	text-align: center;

}

.hello{
	text-align: center;
}